{% extends 'base.html' %}

{% block content %}
<div>
    <h6>{{ PRODUCTO.NOMBRE }}</h6>
    <p>{{ PRODUCTO.CATEGORIA }}</p>
    <p>{{ PRODUCTO.STOCK }}</p>
    <p>{{ PRODUCTO.PUNTUACION }}</p>
    <p>{{ PRODUCTO.FECHA_CREACION }}</p>
</div>

{% endblock %}