{% extends 'base.html' %}

{% block content %}

<h1>Productos</h1>

<a href="{% url 'productos:formulario' %}">Nuevo producto</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Puntuación</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in PRODUCTOS %}
        <tr>
            <td>
                <a href="{% url 'productos:detalle' producto.id %}">
                    {{ producto.NOMBRE }}
                </a>
            </td>
            <td>{{ producto.STOCK }}</td>
            <td>{{ producto.PUNTUACION }}</td>
            <td>{{ producto.CATEGORIA }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}