{% load add_attr %}

{% for field in form %}
  <div class="mb-3">
    {{ field.label_tag }}
    {% if field.errors %}
      {{ field | add_attr:'class:is-invalid' }}
    {% else %}
      {{ field }}
    {% endif %}
    <div class="invalid-feedback">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </div>
  </div>
{% endfor %}